.jumbotron {
   background-color: #3A2D7D;/*HPU-specific purple*/
   color: white;
   margin-bottom: 0px;
}

#hpu-logo {
   height: 10em;
   width: 10em
}

#school-saying {
   font-size:16;
}

.footer {
   padding-top: 1em;
   padding-bottom: 1em;
   background-color: #3A2D7D;
   color: white;
}