.nav li:hover {
   background-color: gray;
   color: black;
}

.nav li {
   text-align: left;
}

/*Applied with javascript when scrolling*/
.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}

.navbar-btn {
   padding: 8px;
   padding-right: 16px;
   border: 0px;
   margin: 0px
}